@import "tailwindcss";

body {
  font-family: var(--poppins), sans-serif;
  background: #1a1b1c;
  color: #ffffff;
}

.poppins {
  font-family: var(--poppins), sans-serif;
}

.fredoka {
  font-family: var(--fredoka), sans-serif;
}

.rubik {
  font-family: var(--rubik), sans-serif;
}